<%-include ("../Includes/Admin/head.ejs")%>

  <body>
    <%-include ("../Includes/Admin/header.ejs")%>
      <!-- ======= Sidebar ======= -->
      <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">

          <li class="nav-item">
            <a class="nav-link collapsed" href="/admin/dashboard">
              <i class="bi bi-columns-gap"></i>
              <span>Dashboard</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link collapsed" href="/admin/students">
              <i class="bi bi-people"></i>
              <span>Manage Students</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link collapsed" href="/admin/faculty">
              <i class="bi bi-person-vcard"></i>
              <span>Manage Faculty</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link collapsed" href="/admin/attendance">
              <i class="bi bi-table"></i>
              <span>Attendance</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#book-nav" data-bs-toggle="collapse" href="#">
              <i class="bi bi-book-half"></i><span>Books</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="book-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
              <li>
                <a href="/admin/all_books">
                  <i class="bi bi-circle"></i><span>All Books</span>
                </a>
              </li>
              <li>
                <a href="/admin/issued_books">
                  <i class="bi bi-circle"></i><span>Currently Issued</span>
                </a>
              </li>
              <li>
                <a href="/admin/issue_request">
                  <i class="bi bi-circle"></i><span>Issued Request</span>
                </a>
              </li>
              <li>
                <a href="/admin/renew_request">
                  <i class="bi bi-circle"></i><span>Renew Request</span>
                </a>
              </li>
              <li>
                <a href="/admin/return_request">
                  <i class="bi bi-circle"></i><span>Return Request</span>
                </a>
              </li>


              <li>
                <a href="/admin/recommendations">
                  <i class="bi bi-check-circle"></i>
                  <span>Recommendations</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/messages">
              <i class="bi bi-chat"></i>
              <span>Messages</span>
            </a>
          </li>

        </ul>
      </aside>
      <!-- End Sidebar-->
      <main id="main" class="main">
        <div class="pagetitle">
          <h1>Messages</h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
              <li class="breadcrumb-item active">Messages</li>
            </ol>
          </nav>
        </div>
        <section class="section profile">
          <div class="row">


            <div class="col-lg-6">
              <div class="card">
                <div class="card-body pt-3">
                  <!-- Bordered Tabs -->

                  <h5 class="card-title">
                    Messages
                  </h5>
                  <%-include ("../Includes/Student/message.ejs")%>
                  <form method="post" class="row g-3">
                    <div class="col-md-12">
                      <input type="text" class="form-control" placeholder="Recipient ID" name="user_id">
                    </div>
                    <div class="col-md-12">
                      <textarea class="form-control" placeholder="Your message here..." rows="3" name="message"></textarea>
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Send</button>
                      <button type="reset" class="btn btn-secondary">Reset</button>
                    </div>
                  </form>
                </div>
              </div>

            </div>


          </div>
        </section>

      </main>
      <!-- End #main -->
      <%-include ("../Includes/Admin/script.ejs")%>

  </body>

  </html>