<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="/img/cit_logo.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/020dbcd45c.js" crossorigin="anonymous"></script>
    <title>Error 404</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-light bg-white navbar-expand-md py-1">
            <div class="container-lg">
                <a class="navbar-brand" href="/">
                    <img src="/img/mmsu_logo.png" height="45" alt="image">
                    <img src="/img/cit_logo.png" height="40" alt="image">

                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav3"
                    aria-controls="navbarNav3" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav3">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Scan Barcode</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/signup">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-success ms-md-2" href="/signin">Sign In</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <main id="main">
        <div class="container-lg">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="card shadow">
                        <div class="card-body">
                            <h1 class="display-4"><i class="fas fa-exclamation-triangle"></i> 404 Not Found</h1>
                            <p class="lead">Sorry, the page you are looking for does not exist.</p>
                            <a href="/signin" class="btn btn-primary">Go Back</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </main>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/validator.js"></script>
</body>

</html>